  mat-card {
    padding: 0px;
  }

  table {
    width: 100%;
  }

.example-card {
    max-width: 100%;
  }

  .icon-row {
    width: 20px;
  }

  .accent {
    color: #FFD740;
  }
  .dash {
    width: 1px,
  }

  .div-dashboard{
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  a {
    text-decoration: none;
    font-size: 18px;
  }

  .icon-badge {
    padding-top: 10;
  }

  .example-h2 {
    margin: 10px;
  }
  
  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .example-margin {
    margin: 0 10px;
  }

  .progress-hidden {
    display:none;
  }

  .mat-link {
    text-decoration: none;
  }

  .card-list-split {
    top: 20px;
    width: 100%;
  }